$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path:   "fonts";
@import "font-awesome/font-awesome";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$blue: #337ab7;

body {
    background-image: url("http://stuffpoint.com/nature/image/258168-nature-beautiful-nature.jpg");
    background-size: cover;
}

.question {
  padding: 10px 10px 10px 10px;
  background: white;
  border: 3px dotted $blue;
  box-shadow: inset 0 -1px 0 0 $blue, inset 0 1px 0 0 $blue, 0 1px 0 0 $blue, 0 -1px 0 0 $blue;
  margin-bottom: 1px;
  color: $blue;
}

.submit-btn {
margin-top:13px;
}